@model BigSchool.ViewModels.CoursesViewModel

@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>
<div class="row">
    @using Microsoft.AspNet.Identity
    <ul class="course">
        @foreach (var course in Model.UpcommingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                        @if (course.IsCanceled)
                        {
                            <span class="label label-warning">Canceled</span>
                        }
                        @if (Model.ShowAction && !course.IsCanceled)
                        {
                            if (Model.CheckFollowing(course.LecturerId, User.Identity.GetUserId()))
                            {
                                <button id="btnFollowing" data-user-id="@course.LecturerId" class="btn btn-link btn-sm js-toggle-un-follow">Following</button>
                            }
                            else
                            {
                                <button id="btnFollow" data-user-id="@course.LecturerId" class="btn btn-link btn-sm js-toggle-follow">Follow</button>

                            }
                        }
                    </span>
                    <br />
                    <span class="category">
                        @course.Category.Name
                    </span>

                </div>
            </li>
        }
    </ul>
</div>
@*@section scripts
{
    <script>
        $(document).ready(function () {
            // CoursesController.init();
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .text("Following");
                    })
                    .fail(function () {
                        alert("Something failed !");
                    });
            });
            $(".js-toggle-un-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/unfollow", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .text("Follow");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
    </script>
}*@
