@model BigSchool.ViewModels.CoursesViewModel

    @{
        ViewBag.Title = "Mine";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Mine</h2>
    <div class="row">
        <ul class="course">
            @foreach (var course in Model.UpcommingCourses)
            {
                <li>
                    <a href="/Course/Details/@course.Id">
                        <div class="date">
                            <div class="month">
                                @course.DateTime.ToString("MM")
                            </div>
                            <div class="day">
                                @course.DateTime.ToString("dd")
                            </div>
                        </div>
                    </a>
                    <div class="details">
                        <span class="lecturer">
                            @course.Lecturer.Name                            
                        </span>
                        <br />
                        <span class="category">
                            @course.Category.Name
                        </span>
                        @if (Model.ShowAction)
                        {
                            var text = "Inactive";
                            var cls = "";
                            if (!course.IsCanceled)
                            {
                                text = "Active";
                                cls = "btn-success";
                            }
                            <div class="action">
                                <a href="/Course/Edit/@course.Id">Edit</a> |
                                <button class="btn  @cls btn_active_course" data-course-id="@course.Id">@text</button>
                            </div>

                        }
                    </div>
                </li>
            }
        </ul>

            @section scripts{
                <script>
                    $(document).ready(() => {
                        $(".btn_active_course").on("click", (e) => {
                            var btn = $(e.target)
                            $.ajax({
                                url: "/api/Courses/" + btn.attr("data-course-id"),
                                method: "PUT"
                            }).done(() => {
                                if (btn.hasClass("btn-success")) {
                                    btn.removeClass("btn-success").text("Inactive")
                                } else {
                                    btn.addClass("btn-success").text("Active")
                                }
                            }).fail(err => alert(err.responseJSON))
                        })
                    })
                </script>

            }

